<!doctype HTML>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" />
		<title>Exception!</title>
	</head>
	
	<style>
		h2
		{
			color:#c0c0c0;
		}
		
		p
		{
			color:#a0a0a0;
		}
		
		pre
		{
			color:#a0a0a0;
		}
		
		.snippet
		{
			width:870px;
			float:right;
			overflow:scroll;
		}
	</style>
	
	<body style='background-color:#eee'>
		<div style='width:80%; height:800px; margin-left:10%; background-color:#fff; border:1px solid #bababa;'> <!--  BIRD IS THE WORD !-->
		<h1 style="padding-left:22px; color:#a0a0a0;"> Yeah great, You made it break...</h1>
		<img src='img/exception.jpg' alt='' style='float:left;'/>
		<p style="float:right; color:#a0a0a0;">
			{{exception}}
		</p>
		</div>
	</body>
</html>